<!DOCTYPE html>
<html lang="en-US">
<script src="js/lib/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="js/lib/style.css">
<script src="js/app.js"></script>
<body>

<div ng-app="app" ng-controller="Ctrl">
 	<p>Number : <input type="number" ng-model="no" ng-change="call()"></p>
 	<!-- <button ng-click="call()">Ok</button> -->
 	<div class="row" ng-repeat="i in res" ng-class="{red: ($index % 4)==0, blue: ($index % 4)==1, orange: ($index % 4)==2, green: ($index % 4)==3}">
 		{{try(i)}}
 	</div>
</div>
</body>
</html>